/* Main settings */

:root {
    --main-text-color:#212121;
    --blue-text-color:#2196F3;
    --white-text-color:#FFFFFF;
    --footer-contacts-text:rgba(255, 255, 255, 0.6);
    --add-text-color:#757575;
    --main-bgd:#FFFFFF;
    --hero-footer-bgd:#2F303A;
    --add-bgd:#F5F4FA;
    --button-active-bgd:#2196F3;
    --stroke-color:#EEEEEE;
    --link-color:#AFB1B8;
    --card-overlay-bgd:rgba(33, 150, 243, 0.9);
    --main-timing-func:cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    background-color: var(--main-bgd);
    color: var(--main-text-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding:0px 15px;
    position: relative;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* INDEX PAGE */

/* Header section */

.header {
    border-bottom: 1px solid var(--stroke-color);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    margin-left: 93px;
}

.top-contacts {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    margin-left: auto;
}

.link {
    margin-left: 50px;
}

.nav-menu .link:first-child {
    margin-left: 0;
}

.top-contacts .link:first-child {
    margin-left: 0;
}

.top-contacts .contact-link {
    display: flex;
    align-items: center;

    color: var(--add-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms var(--main-timing-func);
}

.contact-link .icon-link {
    fill: currentColor;
    margin-right: 10px;
}

.top-contacts .contact-link:hover,
.top-contacts .contact-link:focus
{
    color: var(--blue-text-color);
}

.nav-menu .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color 250ms var(--main-timing-func);
}

.nav-link.current {
    position: relative;
    color: var(--blue-text-color)
}

.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    background-color: var(--button-active-bgd);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus {
    color: var(--blue-text-color);
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--main-text-color);
    transition: color 250ms var(--main-timing-func);
}

.logo {
    color: var(--blue-text-color);
    transition: color 250ms var(--main-timing-func);
}

.header-logo:hover,
.header-logo:focus,
.footer-logo:hover,
.footer-logo:focus,
.logo:hover,
.logo:focus {
    color: var(--blue-text-color);
}

/* Hero section */

.hero-section {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-footer-bgd);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../img/hero.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;
    width: 696px;
    
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: none;

    background-color: var(--button-active-bgd);
    color: var(--white-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;

    transition: color 250ms var(--main-timing-func);
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    color:var(--main-text-color)
}

/* Skills section */


.our-skills {
    display: flex;
    padding-left: 0;
    
}

.skill-item {
    font-weight: 700;
    margin-bottom: 10px;
}

.our-skills > .skill {
    width: 270px;
    margin-left: 30px;
    padding: 0;
}

.our-skills>.skill:first-child {
    margin-left: 0px;
}

.skills-logo {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--add-bgd);
}

.skill-logo {
    display: block;
    align-items: center;
    justify-content: center;
}

.skill p {
    line-height: 1.71;
}

/* Works section */

.section .works {
    margin-top: 94px;
    text-align: center;
}

.works-img-list {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

.works-img {
    margin-left: 30px;
    position: relative;
}

.works-img:first-child {
    margin-left: 0;
}

.works-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    
    text-align: center;
    text-transform: uppercase;

    color:var(--white-text-color);
    background: rgba(47, 48, 58, 0.8);
}

/* Team section */

.team {
    background-color: var(--add-bgd);
    text-align: center;
}

.second-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.our-team {
    display: flex;
    margin-top: 50px;
    padding-left: 0;
}

.team-mate {
    margin-left: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-bgd);
}

.team-mate:first-child {
    margin-left: 0;
}

.name {
    margin-top: 30px;
}

.team-mate > p {
    margin-top: 10px;
}

.team-mate p {
    color: var(--add-text-color);
}

.team-contact {
    display: flex;
    flex-direction: row;
    width: 206px;
    height: 44px;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}

.team-contact>li {
    margin-right: 10px;
}

.team-contact>li:last-child {
    margin-right: 0;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--link-color);

    transition: background-color 250ms var(--main-timing-func), color 250ms var(--main-timing-func);
}

.sr-link {
    fill: currentColor;
}

.contact-box:hover,
.contact-box:focus {
    cursor: pointer;
    background-color: var(--button-active-bgd);
    color: var(--white-text-color);
}


/* Clients section */

.clients {
    text-align: center;
}

.clients-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 50px;
}

.clients-list > li {
    margin-right: 30px;
}

.clients-list>li:last-child {
    margin-right: 0;
}

.client-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color:var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 4px;
    cursor: pointer;

    transition: border 250ms var(--main-timing-func), color 250ms var(--main-timing-func);
}

.client-card:hover,
.client-card:focus {
    border: 1px solid var(--button-active-bgd);
    color: var(--button-active-bgd);
}

.client-link {
    fill: currentColor;
}


/* Footer section */


.footer {
    background-color: var(--hero-footer-bgd);
}

.footer>.container {
    display: flex;
    flex-direction: row;
}

.footer-data .footer-address {
    color: var(--white-text-color);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--main-timing-func);
}

.footer-data .footer-address:hover,
.footer-data .footer-address:focus {
    color: var(--blue-text-color);
}

.footer-data .footer-contacts {
    color: var(--footer-contacts-text);
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--main-timing-func);
}

.footer-data .footer-contacts:hover,
.footer-data .footer-contacts:focus {
    color: var(--blue-text-color);
}

.footer-data {
    padding-left: 0;
    padding-bottom: 60px;
    margin-top: 20px;
}

.footer-logo {
    display: block;
    padding-top: 60px;
    
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--white-text-color);

    transition: color 250ms var(--main-timing-func);
}

.footer-contacts {
    display: block;
    margin-top: 9px;
}

.footer-box {
    width: 231px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 80px;
    color: var(--white-text-color);
    padding-top: 72px;
    margin-left: 70px;
}

.footer-links > p {
    font-weight: 700;
    margin-bottom: 20px;
}

.site-links {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.site-links > li {
    margin-right: 10px;
}

.site-links>li:last-child {
    margin-right: 0;
}

.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-text-color);

    transition: background-color 250ms var(--main-timing-func);
}

.sr-link {
    fill: currentColor;
}

.link-box:hover,
.link-box:focus {
    background-color: var(--button-active-bgd);
}

.subscribe {
    padding-top: 72px;
    margin-left: 93px;
}

.footer-form {
    display: flex;
    align-items: center;
   
}

.footer-form > input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-text-color);
    transition: border 250ms var(--main-timing-func);
}

.footer-form > input:focus {
    outline: 0;
    border: 1px solid var(--blue-text-color);
}


.footer-form > button {
    display: flex;
    align-items: center;
    text-align: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background: var(--button-active-bgd);
    border: var(--button-active-bgd);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    width: 200px;
    height: 50px;
    padding-left: 28px;
    cursor: pointer;
}

.footer-form .send-icon {
    margin-left: 12px;
}

.subscribe > p {
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--white-text-color);
    text-transform: uppercase;
}

/* Modal form */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
 
    min-width: 528px;
    min-height: 581px;
    background-color: var(--main-bgd);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--main-timing-func);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--main-bgd);
    transition: fill 250ms var(--main-timing-func);
}

.modal-close:hover {
    fill: var(--button-active-bgd);
    cursor: pointer;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.main-form >p {
    padding-top: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.form-list {
    display: flex;
    flex-direction: column;
}

.form-label {
    position: relative;
    margin-left: 41px;
    margin-bottom: 28px;
}

.form-label:last-child {
    margin-bottom: 0;
}

.form-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
    padding: 0;
    padding-left: 42px;
    transition: border 250ms var(--main-timing-func);
}

.comment-form {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    transition: border 250ms var(--main-timing-func);
}

.form-name {
    position: absolute;
    top: -18px;
    left:0;
    letter-spacing: 0.01em;
    color: var(--add-text-color);
}

.modal-icon {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: currentColor;
    transition: fill 250ms var(--main-timing-func);
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    margin-right: 7px;
    fill: var(--main-bgd);
    transition: border-color 250ms var(--main-timing-func), background-color 250ms var(--main-timing-func);
}

.checkbox:checked + .checkbox-icon {
    border-color: transparent;
    background-color: var(--button-active-bgd);
    /* background-size: contain;
    background-origin: border-box; */
}

.contract-terms {
    color: var(--blue-text-color);
    margin-left: 5px;
}

.form-input:focus {
    outline: 0;
    border: 1px solid var(--blue-text-color);
}

.form-input:focus ~ .modal-icon {
    fill: var(--blue-text-color);
}

.comment-form:focus {
    outline: 0;
    border: 1px solid var(--blue-text-color);
}


.send-btn {
    width: 200px;
    height: 50px;
    color: var(--white-text-color);
    background:var(--button-active-bgd);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: color 250ms var(--main-timing-func);
}

.send-btn:hover {
    cursor: pointer;
    color: var(--main-text-color);
}

/* PORTFOLIO PAGE */

/* Filters */

.filter-buttons-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 16px;
}

.btn {
    text-align: center;
    margin-left: 8px;
}

.btn:first-child {
    margin-left: 0;
}

.filter-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border-radius: 4px;
    background-color: var(--add-bgd);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border:0;

    transition: background-color 250ms var(--main-timing-func), color 250ms var(--main-timing-func), box-shadow 250ms var(--main-timing-func);
}

.filter-buttons-list .filter-button:hover,
.filter-buttons-list .filter-button:focus {
    background-color: var(--button-active-bgd);
    color: var(--white-text-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works stella */

.works-box {
    margin-top: 34px;
}

.works-list {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
}

.work-list-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-meta p {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    color: var(--add-text-color);
}

.work-card {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    transition: transform 250ms var(--main-timing-func), box-shadow 250ms var(--main-timing-func);
}

.work-thumb {
    position: relative;
    top: 0;
    left: 0;
    height: 294px;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-overlay-bgd);
    transform: translateY(100%);
    transition: transform 250ms var(--main-timing-func);
    
}

.card-descr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    margin: 0;
    height: 168px;
    width: 322px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--main-bgd);

}

.work-card:hover .card-overlay{
    transform: translateY(0);
}

.card-meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid var(--stroke-color);
}

.work-card:hover,
.work-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.work-card:nth-child(3n) {
    margin-right: 0px;
}

.work-card:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.work-card > img {
    display: block;
}

